<div *ngIf="isAddActivity!==true">
  <p>
  <button (click)="addActivity()">Add</button>
</p>
</div>
<div *ngIf="isAddActivity===true">
  <div>
    <label>name:
      <input [(ngModel)]="addedActivity" placeholder="name"/>
    </label>
  </div>
  <input [(colorPicker)]="color" [style.background]="color"/>
  <p>
    <button (click)="add()">Add Activity</button>
  </p>
</div>


<ul class="activities">
  <li *ngFor="let activity of activities"
    [class.selected]="activity === selectedActivity"
    (click)="onSelect(activity)" >
  <span class="badge" [ngStyle]="{'background-color':activity.color}">{{activity.id}}</span> {{activity.name}}
  </li>
</ul>

<div *ngIf="selectedActivity && isAddActivity!==true">
  <h2>{{selectedActivity.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedActivity.id}}</div>
  <input [(colorPicker)]="color" [style.background]="selectedActivity.color"/>
  <div>
    <label>name:
      <input [(ngModel)]="selectedActivity.name" placeholder="name"/>
    </label>
  </div>

<br/>
Tracker
<label>Show Color
<input type="checkbox" checked="true" [(ngModel)]="selectedDropTimeActivity.show">
</label>
  <div>
    <select [(ngModel)]="selectedDropTimeActivity.dailyGoals">
      <option value="0">none</option>
      <option value="1">activation</option>
      <option value="2">day</option>
      <option value="3">week</option>
      <option value="4">month</option>
      <option value="5">year</option>
    </select>
  </div>
  <label>Duration Seconds
    <input [(ngModel)]="selectedDropTimeActivity.dailytimeSec"/>
  </label>
  <p>
    <button (click)="updateActivity(selectedActivity)">Update</button><button (click)="delete(selectedActivity)">Delete</button>
  </p>
</div>
